CREATE DATABASE [OnlineShop]

USE [OnlineShop]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/31/2025 11:52:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banner]    Script Date: 7/31/2025 11:52:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banner](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[SubTitle] [nvarchar](1000) NULL,
	[ImageName] [nchar](50) NULL,
	[Priority] [smallint] NULL,
	[Link] [nvarchar](100) NULL,
	[Position] [nvarchar](50) NULL,
 CONSTRAINT [PK_Banner] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 7/31/2025 11:52:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[CommentText] [nvarchar](1000) NOT NULL,
	[ProductId] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[Rating] [int] NOT NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coupons]    Script Date: 7/31/2025 11:52:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coupons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[Discount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Coupons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 7/31/2025 11:52:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MenuTitle] [nvarchar](50) NULL,
	[Link] [nvarchar](300) NULL,
	[Type] [nvarchar](20) NULL,
 CONSTRAINT [PK_Menus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 7/31/2025 11:52:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductTitle] [nvarchar](max) NOT NULL,
	[ProductPrice] [decimal](18, 2) NOT NULL,
	[Count] [int] NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 7/31/2025 11:52:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[CompanyName] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[City] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[CouponCode] [nvarchar](max) NULL,
	[CouponDiscount] [decimal](18, 2) NULL,
	[Shipping] [decimal](18, 2) NULL,
	[TransId] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NULL,
	[CreateDate] [datetime2](7) NULL,
	[SubTotal] [decimal](18, 2) NULL,
	[Total] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductGalery]    Script Date: 7/31/2025 11:52:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductGalery](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[ImageName] [nvarchar](50) NULL,
 CONSTRAINT [PK_ProductGalery] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 7/31/2025 11:52:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Description] [nchar](500) NULL,
	[FullDesc] [nvarchar](4000) NULL,
	[Price] [money] NULL,
	[Discount] [money] NULL,
	[ImageName] [nvarchar](50) NULL,
	[Qty] [int] NULL,
	[Tags] [nvarchar](1000) NULL,
	[VideoUrl] [nvarchar](300) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Settings]    Script Date: 7/31/2025 11:52:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Shipping] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Settings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 7/31/2025 11:52:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Password] [nchar](50) NOT NULL,
	[IsAdmin] [bit] NOT NULL,
	[RegisterDate] [datetime] NULL,
	[RecoverCode] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250729042906_AddRatingInComment', N'8.0.15')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250729104159_Add Order,Coupon, Setting', N'8.0.15')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250731032832_AddOrderDetails', N'8.0.15')
GO
SET IDENTITY_INSERT [dbo].[Banner] ON 

INSERT [dbo].[Banner] ([ID], [Title], [SubTitle], [ImageName], [Priority], [Link], [Position]) VALUES (1, N'fashion trend for autum girls with vibes', N'We love seeing how our Aslam wearers like <br> to wear their Norda', N'bg2.jpg                                           ', 1, N'About.html', N'Slider')
INSERT [dbo].[Banner] ([ID], [Title], [SubTitle], [ImageName], [Priority], [Link], [Position]) VALUES (2, N'Zara Pattern backpacks', N'Stretch, fresh-cool help you alway comfortable', N'b.jpg                                             ', 1, N'About.html', N'Banner1')
INSERT [dbo].[Banner] ([ID], [Title], [SubTitle], [ImageName], [Priority], [Link], [Position]) VALUES (3, N'Minimalist sneake', N'Stretch, fresh-cool help you alway', N'c.jpg                                             ', 1, N'About.html', N'Banner2')
SET IDENTITY_INSERT [dbo].[Banner] OFF
GO
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([Id], [Name], [Email], [CommentText], [ProductId], [CreateDate], [Rating]) VALUES (1, N'Hieu', N'hieutrong@test.com', N'test test test ', 5, CAST(N'2025-04-07T00:00:00.000' AS DateTime), 5)
INSERT [dbo].[Comment] ([Id], [Name], [Email], [CommentText], [ProductId], [CreateDate], [Rating]) VALUES (2, N'Manh', N'manh@gmail.com', N'test my test', 5, CAST(N'2025-03-13T00:00:00.000' AS DateTime), 5)
INSERT [dbo].[Comment] ([Id], [Name], [Email], [CommentText], [ProductId], [CreateDate], [Rating]) VALUES (3, N'Hoang', N'hoang2@gmail.com', N'san pham rat dep', 5, CAST(N'2023-01-20T00:00:00.000' AS DateTime), 4)
SET IDENTITY_INSERT [dbo].[Comment] OFF
GO
SET IDENTITY_INSERT [dbo].[Coupons] ON 

INSERT [dbo].[Coupons] ([Id], [Code], [Discount]) VALUES (1, N'Free2025', CAST(30000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Coupons] OFF
GO
SET IDENTITY_INSERT [dbo].[Menus] ON 

INSERT [dbo].[Menus] ([Id], [MenuTitle], [Link], [Type]) VALUES (2, N'Cửa hàng', N'/products', N'Top')
INSERT [dbo].[Menus] ([Id], [MenuTitle], [Link], [Type]) VALUES (3, N'Trang chủ', N'/', N'Bottom')
INSERT [dbo].[Menus] ([Id], [MenuTitle], [Link], [Type]) VALUES (4, N'Giới thiệu', N'/about', N'Top')
SET IDENTITY_INSERT [dbo].[Menus] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([Id], [ProductTitle], [ProductPrice], [Count], [OrderId], [ProductId]) VALUES (1, N'Basic White Simple Sneaker', CAST(288000.00 AS Decimal(18, 2)), 1, 1, 7)
INSERT [dbo].[OrderDetails] ([Id], [ProductTitle], [ProductPrice], [Count], [OrderId], [ProductId]) VALUES (2, N'Laptop Lenovo V14 G4 IRU 83A000BEVN', CAST(12678000.00 AS Decimal(18, 2)), 1, 1, 8)
INSERT [dbo].[OrderDetails] ([Id], [ProductTitle], [ProductPrice], [Count], [OrderId], [ProductId]) VALUES (3, N'Basic White Simple Sneaker', CAST(240000.00 AS Decimal(18, 2)), 2, 2, 6)
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [UserId], [FirstName], [LastName], [CompanyName], [Country], [Address], [City], [Email], [Phone], [Comment], [CouponCode], [CouponDiscount], [Shipping], [TransId], [Status], [CreateDate], [SubTotal], [Total]) VALUES (1, 1, N'Trần', N'Viết Mạnh', NULL, N'2', N'Hoàng Quốc Việt', N'Đà Nẵng', N'manhtranne@gmail.com', N'0943317911', NULL, NULL, NULL, CAST(20000.00 AS Decimal(18, 2)), NULL, NULL, CAST(N'2025-07-31T10:59:42.1643554' AS DateTime2), CAST(12966000.00 AS Decimal(18, 2)), CAST(12986000.00 AS Decimal(18, 2)))
INSERT [dbo].[Orders] ([Id], [UserId], [FirstName], [LastName], [CompanyName], [Country], [Address], [City], [Email], [Phone], [Comment], [CouponCode], [CouponDiscount], [Shipping], [TransId], [Status], [CreateDate], [SubTotal], [Total]) VALUES (2, 1, N'Trần', N'Viết Mạnh', NULL, N'2', N'28 Xuân Hoàng', N'Đà Nẵng', N'manhtran@gmail.com', N'0943379121', NULL, N'Free2025', CAST(30000.00 AS Decimal(18, 2)), CAST(20000.00 AS Decimal(18, 2)), NULL, NULL, CAST(N'2025-07-31T11:02:31.2539229' AS DateTime2), CAST(768000.00 AS Decimal(18, 2)), CAST(758000.00 AS Decimal(18, 2)))
INSERT [dbo].[Orders] ([Id], [UserId], [FirstName], [LastName], [CompanyName], [Country], [Address], [City], [Email], [Phone], [Comment], [CouponCode], [CouponDiscount], [Shipping], [TransId], [Status], [CreateDate], [SubTotal], [Total]) VALUES (3, 1, N'Mai', N'Đức Huy', N'FPT', N'2', N'12 Trường Chinh', N'Đà Nẵng', N'huymai22@gmail.com', N'0943318911', NULL, NULL, NULL, CAST(20000.00 AS Decimal(18, 2)), NULL, NULL, CAST(N'2025-07-31T23:27:07.4217560' AS DateTime2), CAST(768000.00 AS Decimal(18, 2)), CAST(788000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductGalery] ON 

INSERT [dbo].[ProductGalery] ([Id], [ProductId], [ImageName]) VALUES (3, 4, N'f00fd99c-cad4-49ce-b3ed-1e33345c6445.jpg')
INSERT [dbo].[ProductGalery] ([Id], [ProductId], [ImageName]) VALUES (4, 4, N'cab43559-4e62-41c3-8bf2-ba5cad73f76c.jpg')
INSERT [dbo].[ProductGalery] ([Id], [ProductId], [ImageName]) VALUES (5, 4, N'401b0726-fe5b-4450-806c-31f8eff2f077.jpg')
SET IDENTITY_INSERT [dbo].[ProductGalery] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Settings] ON 

INSERT [dbo].[Settings] ([Id], [Shipping]) VALUES (1, CAST(20000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Settings] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Email], [FullName], [Password], [IsAdmin], [RegisterDate], [RecoverCode]) VALUES (1, N'manhtranne@gmail.com', N'Manh Tran', N'123456                                            ', 0, CAST(N'2025-07-07T16:33:28.540' AS DateTime), 77496)
INSERT [dbo].[User] ([Id], [Email], [FullName], [Password], [IsAdmin], [RegisterDate], [RecoverCode]) VALUES (2, N'hieutrongne@gmail.com', N'HieuTrong', N'123                                               ', 0, CAST(N'2025-07-07T16:34:01.217' AS DateTime), 0)
INSERT [dbo].[User] ([Id], [Email], [FullName], [Password], [IsAdmin], [RegisterDate], [RecoverCode]) VALUES (3, N'test@gmail.com', N'Test', N'123                                               ', 0, CAST(N'2025-07-07T16:39:53.787' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Comment] ADD  DEFAULT ((0)) FOR [Rating]
GO
USE [master]
GO
