USE [master]
GO
/****** Object:  Database [OnlineShop]    Script Date: 6/24/2025 9:19:35 PM ******/
CREATE DATABASE [OnlineShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OnlineShop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\OnlineShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OnlineShop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\OnlineShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OnlineShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OnlineShop]
GO
/****** Object:  Table [dbo].[Banner]    Script Date: 6/24/2025 9:19:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banner](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[SubTitle] [nvarchar](1000) NULL,
	[ImageName] [nchar](50) NULL,
	[Priority] [smallint] NULL,
	[Link] [nvarchar](100) NULL,
	[Position] [nvarchar](50) NULL,
 CONSTRAINT [PK_Banner] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 6/24/2025 9:19:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MenuTitle] [nvarchar](50) NULL,
	[Link] [nvarchar](300) NULL,
	[Type] [nvarchar](20) NULL,
 CONSTRAINT [PK_Menus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductGalery]    Script Date: 6/24/2025 9:19:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductGalery](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[ImageName] [nvarchar](50) NULL,
 CONSTRAINT [PK_ProductGalery] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 6/24/2025 9:19:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Description] [nchar](500) NULL,
	[FullDesc] [nvarchar](4000) NULL,
	[Price] [money] NULL,
	[Discount] [money] NULL,
	[ImageName] [nvarchar](50) NULL,
	[Qty] [int] NULL,
	[Tags] [nvarchar](1000) NULL,
	[VideoUrl] [nvarchar](300) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Banner] ON 

INSERT [dbo].[Banner] ([ID], [Title], [SubTitle], [ImageName], [Priority], [Link], [Position]) VALUES (1, N'fashion trend for autum girls with vibes', N'We love seeing how our Aslam wearers like <br> to wear their Norda', N'bg2.jpg                                           ', 1, N'About.html', N'Slider')
INSERT [dbo].[Banner] ([ID], [Title], [SubTitle], [ImageName], [Priority], [Link], [Position]) VALUES (2, N'Zara Pattern backpacks', N'Stretch, fresh-cool help you alway comfortable', N'b.jpg                                             ', 1, N'About.html', N'Banner1')
INSERT [dbo].[Banner] ([ID], [Title], [SubTitle], [ImageName], [Priority], [Link], [Position]) VALUES (3, N'Minimalist sneake', N'Stretch, fresh-cool help you alway', N'c.jpg                                             ', 1, N'About.html', N'Banner2')
SET IDENTITY_INSERT [dbo].[Banner] OFF
GO
SET IDENTITY_INSERT [dbo].[Menus] ON 

INSERT [dbo].[Menus] ([Id], [MenuTitle], [Link], [Type]) VALUES (2, N'Shop', N'/products', N'Top')
INSERT [dbo].[Menus] ([Id], [MenuTitle], [Link], [Type]) VALUES (3, N'Home', N'/', N'Bottom')
INSERT [dbo].[Menus] ([Id], [MenuTitle], [Link], [Type]) VALUES (4, N'About', N'/about', N'Top')
SET IDENTITY_INSERT [dbo].[Menus] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductGalery] ON 

INSERT [dbo].[ProductGalery] ([Id], [ProductId], [ImageName]) VALUES (3, 4, N'f00fd99c-cad4-49ce-b3ed-1e33345c6445.jpg')
INSERT [dbo].[ProductGalery] ([Id], [ProductId], [ImageName]) VALUES (4, 4, N'cab43559-4e62-41c3-8bf2-ba5cad73f76c.jpg')
INSERT [dbo].[ProductGalery] ([Id], [ProductId], [ImageName]) VALUES (5, 4, N'401b0726-fe5b-4450-806c-31f8eff2f077.jpg')
SET IDENTITY_INSERT [dbo].[ProductGalery] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

SET IDENTITY_INSERT [dbo].[Products] OFF
GO
USE [master]
GO
